## Fix Framework Htaccess Starting App
Options -MultiViews
RewriteEngine On
Options -indexes
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

## Url Params Get URL
RewriteRule ^(.*?)$ index.php?url=$1 [QSA,L]


 
## #Error Location Return
ErrorDocument 404 /
ErrorDocument 403 /
ErrorDocument 500 /
ErrorDocument 401 /


